atomicwrites==1.4.1
attrs==23.2.0
blinker==1.7.0
Brotli==1.1.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-aliases==1.0.1
click-default-group==1.2.4
click-help-colors==0.9.4
colorama==0.4.6
commonmark==0.9.1
ConfigArgParse==1.7
constant==0.0.4
docutils==0.20.1
exceptiongroup==1.2.0
Flask==3.0.2
Flask-Cors==4.0.0
Flask-Login==0.6.3
gevent==24.2.1
geventhttpclient==2.0.11
greenlet==3.0.3
h11==0.14.0
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.3
jmeterAPI==1.4
locust==2.23.1
MarkupSafe==2.1.5
more-itertools==10.2.0
msgpack==1.0.7
outcome==1.3.0.post0
packaging==23.2
pluggy==1.4.0
psutil==5.9.8
py==1.11.0
pycparser==2.21
Pygments==2.17.2
pyparsing==3.1.1
PySocks==1.7.1
pytest==8.0.1
python-dateutil==2.8.2
pywin32==306
pyzmq==25.1.2
requests==2.31.0
rich==9.13.0
robotframework==7.0
robotframework-datadriver==1.9.0
robotframework-jmeterlib==1.0
robotframework-jmeterlibrary==1.2
robotframework-jmeterlibrary-fix==1.0
robotframework-pythonlibcore==4.3.0
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==6.2.0
roundrobin==0.0.4
selenium==4.18.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.51
tabulate==0.8.10
task==0.2.5
tomli==2.0.1
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.10.0
urllib3==2.1.0
wcwidth==0.2.13
Werkzeug==3.0.1
wsproto==1.2.0
xmltodict==0.13.0
zipp==3.17.0
zope.event==5.0
zope.interface==6.2
